.site__header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  box-shadow: var(--boxShadow);
}

.site__header .container {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.site__nav,
.site__logo,
.main__navbar,
.site__right-nav,
.main__navbar li,
.main__navbar li a {
  display: inline-flex;
  align-items: center;
}

.main__navbar li a {
  padding: var(--gutter);
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: capitalize;
  color: var(--ternaryColor);
}

.logo {
  font-family: var(--ternaryFont);
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.main__navbar li a {
  font-size: 1.8rem;
}

.site__right-nav li a:not(.btn) {
  font-size: 1.6rem;
  margin-right: var(--gutter);
  padding: var(--gutter);
  font-weight: 600;
}
